# Terraform GitHub Token (your personal PAT with repo + admin:org scopes)
GITHUB_TOKEN=""

# CI GitHub Tokens
BOT_TOKEN=""
HOMEBREW_TOKEN="$BOT_TOKEN"
MACPORTS_TOKEN="$BOT_TOKEN"

# Git Commit Signing (should match CI bot account)
GPG_PRIVATE_KEY=

# Codecov Token (for coverage reporting)
CODECOV_TOKEN=""
